//group:    组名，可以取你想要的名，比如说：orange、blue。这个字段不是独特的颜色
//id:       这是颜色唯一标识符。淡一点颜色叫pale，深一点的颜色叫dark，默认的normal。
//          所以默认id的标识符定义为normal。这个域是独一无二的。不要重复在同一组中使用。
//color:    定义颜色值，采用的是十六进制

$color-stack: (group: orange, id: normal, color: #e67835),
(group: orange, id: pale, color: #f8a878),
(group: orange, id: dark, color: #ad490c),
(group: blue, id: normal, color: #426682);

// Color  Function
@function color($group, $shade:normal, $transparency:1) {
    @each $color in $color-stack {
        $c-group: map-get($color, group);
        $c-shade: map-get($color, id);
        @if ($group == map-get($color, group) and $shade == map-get($color, id)) {
            @return rgba(map-get($color, color), $transparency);
        }
    }
}

body {
    color: color(blue, normal, .8);
}

p {
    color: color(orange);
}

blockquote {
    color: color(blue);
    background: color(orange, pale, .4);
    border-color: color(orange, dark);
}

//http://www.w3cplus.com/preprocessor/5-useful-sass-snippets.html