@mixin center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent {
    @include center-children;
}

//http://www.w3cplus.com/preprocessor/centering-with-sass.html